body{
    background-color: #F2F6FC;
}

#app1{
	text-align: center;
}

#menu{
    margin-bottom: 2%;
}

#header{
    margin-bottom: 5%;
    height: 300px;
}

#search{
	margin-top: 2%;
}

#input{
    width: 20%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
}


.el-carousel__item img {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    height: 100%;
    margin: 0;
}

#image{
    height:60px;
    width: 60px;
    border-radius:30px;
}


[v-cloak]{
	display: none;
}