<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/images/logo_ico.png">
    <title>Enter 密码修改</title>
    <!-- 引入样式 -->
    <link href="https://cdn.bootcss.com/element-ui/2.13.0/theme-chalk/index.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/change_password.css">
</head>
    <body  style="background:url('/static/images/run.gif')">
        <div id="app1">
            <el-page-header @back="goBack" content="修改密码" style="height:50px; background-color: rgba(218, 218, 218, 1); line-height:50px;">
            </el-page-header>
            <el-card class="box-card" id="input_list">
                <div slot="header" class="clearfix">
                    <span>修改密码</span>
                </div>
                <div id="input_content">
                    <el-input
                        placeholder="请输入原密码"
                        maxlength="16"
                        v-model="password" show-password show-word-limit>
                        <i slot="prefix" class="el-input__icon el-icon-key"></i>
                    </el-input>
                    <div class="blank_div"></div>
                    <el-input
                        placeholder="请输入新密码"
                        maxlength="16"
                        v-model="password1" show-password show-word-limit>
                        <i slot="prefix" class="el-input__icon el-icon-key"></i>
                    </el-input>
                    <div class="blank_div"></div>
                    <el-divider><i class="el-icon-files"></i></el-divider>
                    <el-button type="success" id="user_sure_click" icon="el-icon-check" circle @click="Login()"></el-button>
                </div>
            </el-card>

        </div>


        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
        <!-- 引入组件库 -->
        <script src="https://cdn.bootcss.com/element-ui/2.13.0/index.js"></script>
        <script src="/static/js/change_password.js"></script>
    </body>
</html>